*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* textarea {
  white-space: pre-wrap;
}

#root {
  height: 100vh;
  --side-min-width: 350px;
  --main-min-width: calc(var(--side-min-width) * 2);
  --dark-bg-color: rgb(44 41 41);
  --dark-color: #efe6e6;
  --side-dark-bg-color: rgb(101 89 89);
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1rem;
}

.App h3 {
  text-align: center;
}

.App .main.dark h3,
.App .side.dark h3 {
  color: var(--dark-color);
}

.App .setting-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: calc(92% - 100px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.setting-popup {
  width: clamp(900px, 70vw, 1000px);
  height: 400px;
  background-color: gainsboro;
  outline: 100vw solid rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

.setting-popup h4 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 20px;
}

.setting-popup > div {
  flex-grow: 1;
  width: 80%;
  margin: auto;
}

.setting-popup > div p {
  font-size: 1.2em;
  padding: 0.2em 0;
}

.setting-popup > div p label input[type="radio"] {
  width: 20px;
  height: 20px;
  transform: translate(-2px, 3px);
}

.setting-popup button,
.db-result-popup button {
  padding: 1px 7px;
  font-size: 1.1em;
  margin: 20px auto 25px auto;
  cursor: pointer;
}

.db-result-popup {
  width: clamp(900px, 70vw, 1000px);
  height: 600px;
  background-color: white;
  outline: 100vw solid rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

.db-result-popup h4 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 20px;
}

.db-result-popup > div {
  flex-grow: 1;
  width: 80%;
  margin: auto;
  overflow-y: scroll;
}

.db-result-popup > div ul {
  padding: 0;
  list-style: none;
}

.db-result-popup > div ul li {
  display: grid;
  grid-template-columns: 3fr 100px 2fr;
  column-gap: 10px;
  margin-top: 15px;
}

.db-result-popup > div ul li:first-of-type {
  padding-bottom: 7px;
  border-bottom: 1px solid black;
  margin-top: 0;
}

.db-result-popup > div ul li:last-of-type {
  margin-bottom: 15px;
}

.db-result-popup > div ul li p {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.search-popup {
  width: 400px;
  height: 135px;
  background-color: gainsboro;
  outline: 100vw solid rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

.search-popup button {
  cursor: pointer;
}

.search-popup h4 {
  text-align: center;
  font-size: 1.1em;
  padding: 15px 0 8px 0;
}

.search-popup section {
  flex-grow: 1;
  display: flex;
  margin: auto;
  width: 70%;
  padding: 10px 0;
}

.search-popup section input {
  flex-grow: 1;
  padding-left: 5px;
  font-size: 1.05em;
}

.search-popup section button {
  padding: 0 5px;
  font-size: 1.01em;
}

.search-popup div {
  margin: 0 auto 10px auto;
}

.search-popup div > button {
  margin: 0 2px;
  font-size: 1em;
  padding: 1px 5px;
}

.App .side {
  background-color: blanchedalmond;
  height: 100%;
  overflow: auto;
}

.App .side.dark {
  background-color: var(--side-dark-bg-color);
}

.App .side > div {
  min-width: var(--side-min-width);
}

.App .side > div > section.fail:last-of-type {
  margin-bottom: 65px;
}

.App .side > div .sidebar-h1 {
  background-color: rgb(169, 51, 51);
  margin-bottom: 0.7em;
  color: rgb(230, 215, 215);
  box-shadow: rgb(68 25 25) 0px 2px 4px 1px;
  position: sticky;
  top: 0;
  z-index: 300;
  font-size: 1.8em;
  padding: 0.7em 0;
}

.App .side > div .sidebar-h1 > p {
  display: flex;
  flex-direction: column;
  font-size: 0.63em;
  font-weight: 500;
  background-color: rgb(68 112 69);
  color: #f1f9da;
  padding: 0.3em 0 0.3em 0.9vw;
  margin-top: 1em;
  margin-bottom: -1.2em;
  box-shadow: #455447 0 1px 1px 1px;
}

.App .side > div .sidebar-h1 > p > span {
  width: 100%;
  padding: 0 0.7vw;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.App .side > div .sidebar-h1 > p > span > i {
  font-style: normal;
  letter-spacing: 1px;
}

.App .side > div .sidebar-gotop {
  position: fixed;
  bottom: 1.35em;
  left: calc(16.667vw - 30px);
  background: #fff;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 1.3em;
  font-weight: bolder;
  color: #3c3ccb;
  cursor: pointer;
  box-shadow: 0 1px 2px 0px #000;
}

.App .side > div .sidebar-gotop.hide {
  display: none;
}

.App .side h2 {
  cursor: pointer;
  background-color: chocolate;
  margin: 0 1vw 1.2vw 1vw;
  position: relative;
  border-radius: 0.8em;
  box-shadow: 3px 3px 5px 1px #6b2822;
}

.App .side.dark h2 {
  color: var(--dark-color);
}

.App .side h2 > span {
  position: absolute;
  right: 1vw;
  top: 50%;
  width: 1.2em;
  line-height: 1.1em;
  border: 2px solid black;
  border-radius: 200px;
  transform: translateY(calc(1px - 50%));
}

.App .side.dark h2 > span {
  border-color: var(--dark-color);
}

.App .side > div > section:last-of-type {
  margin-bottom: 60px !important;
}

.App .description-content,
.App .figure-content,
.App .drawing-content,
.App .failed-description-content,
.App .failed-figure-content {
  margin: 0 1.5vw 2vw 1.5vw;
  overflow: hidden;
  transition: height ease-in 1s;
}

.App .description-content.collapse,
.App .figure-content.collapse,
.App .drawing-content.collapse,
.App .failed-description-content.collapse,
.App .failed-figure-content.collapse {
  height: 0;
}

.App .description-content ul,
.App .figure-content ul,
.App .drawing-content ul {
  list-style-type: none;
  font-size: 1.08em;
  /* border: 1px black solid; */
}

.App .description-content ul li,
.App .figure-content ul li,
.App .drawing-content ul li {
  display: grid;
  grid-template-columns: 3fr 5fr auto 5fr;
  border-radius: 1em;
  margin-bottom: 0.15em;
  box-shadow: inset 0 0 3px #222;
}

.App .drawing-content ul li {
  grid-template-columns: 3fr 10fr;
}

.App .description-content ul li:nth-of-type(1),
.App .figure-content ul li:nth-of-type(1),
.App .drawing-content ul li:nth-child(1) {
  background-color: rgb(68 112 69);
  color: white;
  padding: 3px 0;
}

.App .description-content ul li span,
.App .figure-content ul li span,
.App .drawing-content ul li span {
  /* border: 1px black solid; */
  padding: 2px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.App .description-content ul li span img,
.App .figure-content ul li span img {
  width: 20px;
  height: 20px;
  padding: 0 2px;
  cursor: pointer;
}

.App .description-content ul li span img:nth-of-type(2),
.App .figure-content ul li span img:nth-of-type(2) {
  width: 22px;
}

.App .description-content ul li span input,
.App .figure-content ul li span input {
  height: 22px;
  font-size: 0.85em;
}

.App .description-content ul li span:nth-of-type(1),
.App .figure-content ul li span:nth-of-type(1),
.App .drawing-content ul li span:nth-of-type(1) {
  padding-left: 11px;
}

.App .description-content ul li span:nth-of-type(1),
.App .figure-content ul li span:nth-of-type(1),
.App .description-content ul li span:nth-of-type(2),
.App .figure-content ul li span:nth-of-type(2) {
  cursor: pointer;
}

.App .description-content ul li span:last-of-type,
.App .figure-content ul li span:last-of-type,
.App .drawing-content ul li span:last-of-type {
  padding-right: 9px;
}

.App .description-content > div,
.App .figure-content > div {
  margin-top: 0.7em;
  padding-right: 0.5em;
  display: flex;
  justify-content: flex-end;
}

.App .description-content > p,
.App .figure-content > p {
  background-color: rgb(212, 123, 123);
  padding: 4px 0.2em 4px 0.4em;
  margin-top: 0.3em;
  border-radius: 0.8em;
  box-shadow: inset 0 0 3px #222;
}

.App .description-content div > button,
.App .figure-content > div > button {
  outline: none;
  margin-left: 0.3em;
  font-size: 1.08em;
  border: none;
  background-color: #877878;
  padding: 3px 0.4em;
  border-radius: 0.2em;
  cursor: pointer;
  color: #f6e3e3;
}

.App .description-content div > button.toggle-color,
.App .figure-content > div > button.toggle-color {
  margin-right: auto;
  background-color: #b66447;
  color: #fff;
}

.App .failed-description-content > ul,
.App .failed-figure-content > ul {
  list-style-type: none;
  font-size: 1.08em;
}

.App .failed-description-content > ul > li,
.App .failed-figure-content > ul > li {
  border-radius: 1em;
  margin-bottom: 0.15em;
  background-color: red;
  font-weight: 700;
  padding: 5px 0px;
  display: grid;
  grid-template-columns: max-content 5fr max-content;
  border: 2px solid black;
  box-shadow: rgb(34, 34, 34) 0px 0px 3px inset;
  grid-template-rows: auto auto;
}

.App .failed-description-content > ul > li > div,
.App .failed-figure-content > ul > li > div {
  grid-area: 2 / 1 / 3 / 4;
  background: #e9e9a0;
  margin: 0 0.5vw 5px 0.5vw;
  padding: 0 9px;
  border-radius: 10px;
}

.App .failed-description-content > ul > li > div > p,
.App .failed-figure-content > ul > li > div > p {
  margin-top: 3px;
  font-size: 0.9em;
}

.App .failed-description-content > ul > li > div > div > input,
.App .failed-figure-content > ul > li > div > div > input {
  width: 100%;
  font-size: 0.9em;
}

.App .failed-description-content > ul > li > div > div > button,
.App .failed-figure-content > ul > li > div > div > button {
  width: 50px;
  font-size: 0.8em;
  margin-bottom: 5px;
  margin-left: calc(75% - 50px);
}

.App .failed-description-content > div,
.App .failed-figure-content > div {
  margin-top: 0.5em;
  padding-right: 0.3em;
  display: flex;
  justify-content: flex-end;
}

.App .failed-description-content > div > button,
.App .failed-figure-content > div > button {
  outline: none;
  margin-left: 0.3em;
  font-size: 1.08em;
  border: none;
  background-color: rgb(135, 120, 120);
  padding: 3px 0.4em;
  border-radius: 0.2em;
  cursor: pointer;
  color: rgb(246, 227, 227);
}

.App #main-title {
  background-color: #c4c04a;
  color: #4b2020;
  text-shadow: 2px 2px 2px #5b4c4c;
  letter-spacing: 1px;
  position: relative;
}

.App #main-title > span,
.App #main-title > i {
  position: absolute;
  right: 92%;
  font-size: 0.38em;
  text-shadow: none;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: rgb(137 30 30);
  color: #fafafa;
  padding: 0.3vw 0.4vw;
  border-radius: 0.4vw;
  letter-spacing: 2px;
}

.App #main-title > span:last-of-type {
  right: calc(92% - 50px);
  background: steelblue;
}

.App #main-title > i {
  font-style: normal;
  right: calc(92% - 170px);
  background: darkgreen;
}

.App #main-title > i.db-result {
  right: calc(92% - 180px);
}

.App #main-title > span > a {
  text-decoration: none;
  color: inherit;
}

.App #main-title::before,
.App #main-title::after {
  white-space: pre;
  text-align: right;
  position: absolute;
  /* bottom: 3px; */
  right: 1.2vw;
  /*top: 50%;
  transform: translateY(-50%);*/
  font-size: 0.46em;
  text-shadow: none;
  font-weight: 600;
}

.App #main-title::before {
  content: "專利一組四科 劉克群製作\A 版本: 2022/8/23";
  top: 12px;
}

.App #main-title::after {
  content: "版權所有、請勿散播";
  color: red;
  bottom: 8px;
  font-weight: bolder;
}

.App h1,
.App h2 {
  text-align: center;
  padding: 0.6em 0;
}

.App h2 {
  padding: 0.5em 0;
}

.App .main {
  overflow-x: auto;
  background-color: rgb(243 237 237);
}

.App .main.dark {
  background-color: var(--dark-bg-color);
}

.App .main.dark h1 {
  color: var(--dark-color);
}

.App .main.dark h6 {
  color: var(--dark-color);
}

.App .main > div {
  height: 100%;
  min-width: var(--main-min-width);
  display: flex;
  flex-direction: column;
}

.App .main .links-section {
  background-color: aqua;
  display: flex;
  font-size: 1.2em;
  box-shadow: 0 2px 3px 1px #7e7777, 0 -2px 1px 0px #8c6d42;
  z-index: 100;
}

.App .main .links-section > div {
  flex-grow: 1;
}

.App .main .links-section .analysis-result {
  display: flex;
  align-items: center;
}

.App .main .links-section .analysis-result span {
  margin-left: 0.6em;
  border-radius: 0.5em;
  border: 2px solid rgb(76 130 46);
  background: rgb(82 242 109);
  padding: 1px 0.3em;
  font-size: 0.9em;
  color: rgb(81 97 79);
  font-weight: 700;
}

.App .main .links-section .analysis-result span > a {
  text-decoration: none;
  color: inherit;
}

.App .main .links-section ul {
  /*flex-grow: 0;*/
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 2em;
  font-weight: 600;
}

.App .main .links-section ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 238);
}

.App .main .links-section ul li a {
  text-decoration: none;
  padding: 0 1.125vw;
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: inherit;
}

.App .main .links-section ul li a:hover {
  font-style: italic;
  font-weight: 700;
}

.App .main .links-section ul li a.active {
  cursor: default;
  font-weight: 700;
  background-color: rgb(0, 0, 238);
  color: aqua;
}

.App .main .links-section ul li a.active:hover {
  font-style: normal;
}

.App .main .main-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1.5vw 1em 1.5vw;
}

.App .main .main-body .main-body-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
}

.App .main .main-body .main-body-grid .title-section {
  margin-left: 0;
  margin-right: 0;
}

.App .main .main-body .main-body-grid .main-body-grid-item {
  overflow-y: auto;
  padding-inline: 1.5vw;
}

.App .main .main-body .dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .main .main-body .dashboard-section .dashboard-section-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.App .main .main-body .dashboard-section .dashboard-section-btns button {
  outline: none;
  padding: 0.5em 0.9em;
  background-color: blueviolet;
  color: blanchedalmond;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: blueviolet 3px solid;
  cursor: pointer;
}

.App
  .main
  .main-body
  .dashboard-section
  .dashboard-section-btns
  button:nth-of-type(1) {
  padding-left: 1.2em;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.App
  .main
  .main-body
  .dashboard-section
  .dashboard-section-btns
  button:nth-of-type(2) {
  margin-left: -3px;
  padding-right: 1.2em;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.App .main .main-body .dashboard-section .dashboard-section-btns button.active {
  background-color: blanchedalmond;
  color: blueviolet;
  cursor: default;
}

.App .main .main-body .dashboard-section > button {
  outline: none;
  margin-top: 0.9em;
  padding: 5px 0.68em;
  border: none;
  border-radius: 10000px;
  background-color: #423a3a;
  color: #d2c4c4;
  font-size: 1.02em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 3px 1px #756565;
}

.App .main .main-body .dashboard-section .edit-zone-ok,
.App .main .main-body .dashboard-section .edit-zone-error {
  margin: 0 auto 0.7em auto;
  padding: 0.4em 0.5em;
  width: max-content;
  background-color: lightgreen;
  border-radius: 0.4em;
}

.App .main .main-body .dashboard-section .edit-zone-error {
  background-color: rgba(255, 0, 0, 0.7);
}

.App .main .main-body .drag-zone,
.App .main .main-body .edit-zone {
  outline: none;
  width: 80%;
  height: 400px;
  background: yellow;
  margin: auto;
  min-width: 400px;
}

.App .main .main-body .edit-zone {
  --edit-zone-height: 400px;
  width: 88%;
  height: var(--edit-zone-height);
  transform: translateY(1.5em);
}

.App .main .main-body .edit-zone textarea {
  outline: none;
  width: 106%;
  height: 110%;
  margin-left: -2%;
  margin-top: -3%;
  padding: 0.2em 0.5em;
  font-size: 1.1em;
  border: 1.6px #111 solid;
  font-family: sans-serif;
  background-color: rgb(219 218 218);
}

.App .main .main-body .edit-zone textarea:focus {
  background-color: rgb(244 243 243);
}

.App .main .main-body .edit-zone textarea::placeholder {
  text-align: center;
  line-height: 1.2em;
  font-size: 1.1em;
  padding-top: calc(var(--edit-zone-height) * 1.08 / 2 - 0.6em);
}

.App .main .main-body .dashboard-section-btns-bottom {
  display: flex;
  justify-content: center;
  margin: calc(1.7em + 24px) auto 1.2em auto;
}

.App .main .main-body .dashboard-section-btns-bottom button {
  padding: 0.2em 0.6em;
  font-size: 1em;
  margin: 0 0.5em;
  cursor: pointer;
}

.App .main .main-body .drag-zone .drag-zone-section {
  outline: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 2px 2px 0.25em #333;
}

.App .main .main-body .drag-zone .drag-zone-section.dragover {
  background-color: #e5e539;
}

.App .main .main-body .drag-zone .drag-zone-section > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .main .main-body .drag-zone .drag-zone-section > div > p {
  font-size: 1.2em;
  padding: 0 1.2em;
}

.App .main .main-body .abstract-content,
.App .main .main-body .readme-content p {
  margin: auto 1vw;
}

.App .main .main-body .readme-content > div > p > span {
  cursor: pointer;
  color: white;
  background: rgb(0, 0, 238);
  border-radius: 1em;
  padding: 2px 0.5em 3px 0.5em;
  font-size: 0.8em;
  display: inline-block;
}

.App .main .main-body .abstract-content p,
.App .main .main-body .readme-content p,
.App .main .main-body .result-content p {
  font-size: 1.2em;
  text-align: justify;
}

.App .main.dark .main-body .abstract-content p,
.App .main.dark .main-body .readme-content p,
.App .main.dark .main-body .result-content p {
  color: var(--dark-color);
}

.App .main .main-body .abstract-content .abstract-content-paragraph {
  padding-left: 0.7vw;
}

.App .main .main-body .readme-content .readme-content-paragraph,
.App .main .main-body .result-content .result-content-paragraph {
  padding-left: 3vw;
  padding-right: 1vw;
  position: relative;
}

.App .main .main-body .readme-content .readme-content-paragraph.last {
  margin-bottom: 0.3em;
}

.App .main .main-body .readme-content .readme-content-paragraph::before,
.App .main .main-body .result-content .result-content-paragraph::before {
  content: attr(data-idx) ".";
  position: absolute;
  right: calc(100% - 20px - 1.2vw);
  top: 3px;
}

.App .main .main-body .result-content p.p-title {
  margin-bottom: 3px;
}

.App .main .main-body .result-content p.p-title:not(:first-child) {
  margin-top: 5px;
}

.App .title-section {
  padding-top: 1em;
  background-color: rgba(243, 237, 237, 0.9);
}

.App .main.dark .title-section {
  background-color: rgba(44, 41, 41, 0.8);
}

.App .title-section.sticky {
  background-color: rgba(243, 237, 237, 0.7);
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0 -1vw 2px -1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.App .title-section > h1 {
  font-size: 2em;
}

.App .title-section > h1 + h6 {
  position: absolute;
  bottom: 10px;
  left: 2vw;
  display: flex;
  column-gap: 6px;
}

.App .title-section > h1 + h6 button {
  font-size: 1.5em;
  padding: 0.12em 0.5em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.5em;
  background: #9e9e9e;
}

.App .title-section > h1 + h6 button.active {
  background: coral;
  pointer-events: none;
}

.App .title-section > div {
  position: relative;
}

.App .all-paragraph-section > div {
  position: relative;
}

.App .all-paragraph-section > div > h1 {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  z-index: 101;
}

.App .all-paragraph-section > div > h6 {
  font-size: 1.28em;
}

.App .all-paragraph-section > div > h6:last-of-type {
  margin-bottom: 0.6em;
}

.App .title-section > div > button {
  --toggle-open-or-collapse-btn: 90px;
  font-size: 0.88em;
  position: absolute;
  width: var(--toggle-open-or-collapse-btn);
  height: 30px;
  right: 2vw;
  top: -3em;
  outline: none;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 0.3em;
  box-shadow: 1px 1px 2px 1px #877878;
}

.App .all-paragraph-section .add-new-paragraph {
  background-color: #f5a5a5;
  border-radius: 1em;
  padding: 0.3em 1.2em;
  margin-bottom: 0.4em;
}

.App .all-paragraph-section .add-new-paragraph p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.App .all-paragraph-section .add-new-paragraph label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.App .all-paragraph-section .add-new-paragraph label input {
  font-size: 1em;
  width: 150px;
}

.App .all-paragraph-section .add-new-paragraph textarea {
  width: 100%;
  height: 150px;
  font-size: 1.2em;
}

.App .all-paragraph-section .add-new-paragraph > div {
  display: flex;
  justify-content: center;
  padding: 0.3em 0;
}

.App .all-paragraph-section .add-new-paragraph > div > button {
  outline: none;
  margin-left: 0.3em;
  font-size: 1.08em;
  border: none;
  background-color: #877878;
  padding: 3px 0.6em;
  border-radius: 0.2em;
  cursor: pointer;
  color: #f6e3e3;
}

.App .title-section > div > .all-paragraph-section-save-btns {
  position: absolute;
  top: -3.2em;
  left: 2vw;
  height: 30px;
}

.App .title-section > div > .all-paragraph-section-save-btns > button {
  outline: none;
  cursor: pointer;
  font-size: 1.04em;
  padding: 3px 0.5em;
  margin-right: 0.7em;
  background-color: #746e7b;
  color: white;
  border: none;
  border-radius: 0.3em;
  box-shadow: 1px 1px 2px 1px #877878;
}

.App .title-section > div > button:nth-of-type(2) {
  right: calc(3vw + var(--toggle-open-or-collapse-btn));
  /* width: auto;
  padding: 0 9px 2px 9px; */
}

.App .title-section > div > button:nth-of-type(3) {
  right: 2vw;
  width: 36px;
  height: 36px;
  transform: translateY(-43px);
  background: transparent;
  border: 2px solid #aaa87b;
  border-radius: 1000px;
  box-shadow: none;
}

.App .title-section > div > button:nth-of-type(3).withStr {
  transform: translateY(-36px);
  width: 130px;
  height: 36px;
  background: rgb(224 233 150);
  color: #333;
  display: flex;
  align-items: center;
  font-size: 1em;
  border: 2px solid #aaa87b;
  overflow: hidden;
}

.App .title-section > div > button:nth-of-type(3) img {
  width: 100%;
  height: 100%;
}

.App .title-section > div > button:nth-of-type(3).withStr img {
  width: 28px;
  height: 28px;
  margin: 0 4px;
}

.App .paragraph-container {
  margin-bottom: 1.2vw;
}

.App .paragraph-container .content {
  font-size: 1.2em;
  margin-top: 0.5vw;
  margin-right: 0.7vw;
  padding: 0.3vw 0.8vw;
  border-radius: 1vw;
  text-align: justify;
  background-color: #e9e9a0;
  box-shadow: 0 0 0.25em 0px black;
}

.App .paragraph-container .content .err-span {
  color: yellow;
}

.App .paragraph-container.not-claim .content > i.aboriginal {
  font-style: normal;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 1px;
  background-color: rgb(188, 174, 174);
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 70%);
}

.App .paragraph-container.not-claim .content > i.figure,
.App .paragraph-container.not-claim .content > i.errorfigure {
  padding: 0 5px 0 5px;
  margin: 0 2px 0 1px;
  font-style: normal;
  background: #93ad64;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 70%);
}

.App .paragraph-container.not-claim .content > i.errorfigure {
  background: red;
  color: #e9fb59;
}

.App .paragraph-container.not-claim .content > span,
.App .paragraph-container.not-claim .content > i.error {
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 70%);
  padding: 0 4px 0 2px;
  margin: 0 2px 0 1px;
}

.App .paragraph-container.not-claim .content > span > i.error:first-of-type {
  margin-left: -2px;
  padding-left: 2px;
  padding-right: 3px;
}

.App .paragraph-container.not-claim .content > span > i.error:last-of-type {
  margin-right: -4px;
  padding-right: 4px;
}

.App .paragraph-container .content strong.search-highlight {
  background: #111;
  color: rgb(240 232 232);
  padding: 1px 1px;
}

.App .paragraph-container .content.modify {
  background-color: #ecb3ed;
}

.App .paragraph-container .paragraph-container-btns {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-right: 0.7vw;
  position: relative;
}

.App .paragraph-container .paragraph-container-btns button {
  outline: none;
  margin-left: 0.3em;
  font-size: 1.08em;
  border: none;
  background-color: #877878;
  padding: 3px 0.6em;
  border-radius: 0.2em;
  cursor: pointer;
  color: #f6e3e3;
}

.App .paragraph-container .paragraph-container-btns button.gotop-btn {
  position: absolute;
  right: 0.7em;
  background: #7b3b3b;
  color: #f2eae7;
}

.App .paragraph-container .error {
  background-color: red;
  color: rgb(233 251 89);
}

.App .paragraph-container .potentialError {
  background-color: rgb(202, 117, 117);
}

.App .paragraph-container > h2 {
  /* margin-bottom: 0.5vw; */
  background: rgba(147, 173, 100, 0.85);
  cursor: pointer;
  position: relative;
  border-radius: 0.7em;
  box-shadow: 2px 2px 4px 2px #5b6b58;
}

.App .main.dark .paragraph-container > h2 {
  color: var(--dark-color);
}

.App .paragraph-container > h2 img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 1vw;
  transform: translateY(-50%);
}

.App .paragraph-container > h2 img:nth-of-type(2) {
  left: calc(1vw + 37px);
}

.App .paragraph-container > h2 img:nth-of-type(3) {
  left: calc(1vw + 74px);
}

.App .paragraph-container > h2 > span {
  position: absolute;
  right: 1.5vw;
  border: 2px black solid;
  border-radius: 200px;
  font-size: 0.9em;
  width: 1.3em;
}

.App .main.dark .paragraph-container > h2 > span {
  border-color: var(--dark-color);
}

.App .paragraph-container > h2 > small {
  position: absolute;
  left: calc(100% - 165px);
  top: 50%;
  font-size: 0.65em;
  transform: translateY(-50%);
  color: brown;
}

.App .paragraph-container section {
  margin-top: 0.5vw;
}

.App .paragraph-container section.collapse {
  display: none;
}

.App .paragraph-container section p {
  margin-left: 1.5vw;
}

.App .main.dark .paragraph-container section p:not(.content) {
  color: var(--dark-color);
}

.App .paragraph-container section input[type="checkbox"] {
  display: none;
}

.App .paragraph-container section p.disp {
  margin: 9px 1.5vw 0 1.5vw;
  padding: 3px 10px;
  background: #447045;
  color: #fbf6f6;
  display: flex;
  position: relative;
}

.App .paragraph-container section p.disp img {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.App .paragraph-container section p.disp label {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 28px;
  height: 28px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .paragraph-container .paragraph-potentialErrors-btn,
.App .paragraph-container .paragraph-errors-btn,
.App .paragraph-container .paragraph-word-errors-btn,
.App .paragraph-container .paragraph-corrects-btn,
.App .paragraph-container .paragraph-aboriginals-btn,
.App .paragraph-container .paragraph-modify-btn,
.App .paragraph-container .paragraph-figure-btn,
.App .paragraph-container .paragraph-wrong-figure-btn {
  margin: 0.3vw auto 0.3vw 2.5vw;
  display: flex;
  flex-wrap: wrap;
}

.App .paragraph-container .paragraph-potentialErrors-btn button,
.App .paragraph-container .paragraph-errors-btn button,
.App .paragraph-container .paragraph-word-errors-btn button,
.App .paragraph-container .paragraph-corrects-btn button,
.App .paragraph-container .paragraph-aboriginals-btn button,
.App .paragraph-container .paragraph-modify-btn button,
.App .paragraph-container .paragraph-figure-btn button,
.App .paragraph-container .paragraph-wrong-figure-btn button {
  font-size: 1.3em;
  cursor: pointer;
  outline: none;
  padding: 0.4vw;
  border-radius: 0.5vw;
  border: none;
  box-shadow: 1px 1px 2px 1px #000;
  margin: 0.2em 0.3vw;
}

.App .paragraph-container .paragraph-errors-btn button,
.App .paragraph-container .paragraph-word-errors-btn button,
.App .paragraph-container .paragraph-wrong-figure-btn button {
  color: yellow;
}

.App .paragraph-container .paragraph-errors-btn button > small,
.App .paragraph-container .paragraph-corrects-btn button > small {
  background: #444;
  color: #eee;
  padding: 0 2px;
  margin-left: 3px;
  display: inline-block;
  transform: translateY(-2px);
}

.App .paragraph-container p {
  font-size: 1.2em;
}

.App .paragraph-container.claim-container p span {
  background-color: red;
  margin: 0 2px 0 1px;
}

.App .paragraph-container.claim-container p span.mainElement,
.App .paragraph-container.claim-container p span.mainElementOK {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 0.2vw;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 70%);
}

.App .paragraph-container.claim-container p span.mainElement {
  border-width: 2px;
  font-weight: 700;
  font-style: italic;
  padding: 0 0.5vw 0 0.2vw;
  box-shadow: none;
}

.App .paragraph-container.claim-container p span.mainElementNotOK {
  padding: 0 4px 0 2px;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 70%);
  border: 1px solid rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-weight: 700;
  color: yellow;
}

.App .paragraph-container.claim-container p span.usedElement {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1.5px 1px 0px rgb(0 0 0 / 70%);
  padding: 0 4px;
}

.App .paragraph-container.claim-container p span > small {
  background-color: #444;
  color: #eee;
  padding: 0 2px;
  margin-left: 3px;
  display: inline-block;
  transform: translateY(-1px);
}

.App .paragraph-container.claim-container p span > small.m {
  margin-left: unset;
  margin-right: 1px;
  background-color: #c6172c;
  border-radius: 50%;
}

.App .paragraph-container.claim-container p span.mainElement > small {
  font-style: normal;
  margin-left: 0.5vw;
  margin-right: calc(-0.5vw + 3px);
}

.App .paragraph-container section .err-messages {
  margin: 0.3vw 0.7vw 0.3vw 1.5vw;
  padding: 0.4vw 0.9vw;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 1vw;
  font-size: 1.1em;
  color: white;
}

.App .main.dark .paragraph-container section .err-messages {
  color: var(--dark-color);
}

.App .paragraph-container section .err-messages > p {
  margin-left: 0;
}

.App .paragraph-container section .err-messages ul {
  list-style-type: none;
  margin-left: 0.7vw;
}

.claim-wrongkey-border {
  border: 3px solid #b10303 !important;
  box-shadow: none !important;
}

.popup {
  width: 450px;
  height: 300px;
  background: rgb(209 208 208);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 30px;
  outline: 100vw solid rgba(0, 0, 0, 0.7);
}

.popup p {
  font-size: 1em;
}

.popup p > input {
  font-size: 1em;
}

.popup p > button {
  margin-left: 3px;
  font-size: 0.95em;
  padding: 0 2px;
}

.popup .highlight-char {
  background: yellow;
}

.popup button.arrow-btn {
  padding: 0 5px;
  font-weight: bolder;
  font-size: 1.05em;
}

.popup button.util-btn {
  padding: 0 5px;
  margin: 0 2px;
  font-size: 1.05em;
}
